/**
 * Action info
 */

$width-pic = 165px
$padding-right = 25px
$padding-left = 30px

.sp-action-info
  &__pic
    width $width-pic - $padding-right - $padding-left
    padding 30px $padding-right 30px $padding-left
    float left

  &__body
    width 400px
    padding 40px 0
    float left

  &__title
    margin 0 0 20px

  &__action
    padding 60px 0 0 20px
    float left
