/**
 * Buttons
 */

.sp-btn
  padding 8px 10px
  border 0
  border-radius 5px
  background linear-gradient(#04a816, #007d09)
  color white
  font 400 12px/12px Arial, sans-serif
  text-transform uppercase
  outline none

  &:active
    background linear-gradient(#007d09, #04a816)

  &_large
    padding 8px 20px
