/**
 * Figure
 */
.sp-figure
  position relative
  padding 10px 0 0
  text-align center

  &_inline
    display inline-block

  &__pic
    display inline-block
    width 77px
    height @width
    margin 0 0 10px

    .sp-figure_blocked &
      -webkit-filter grayscale(100%)
      -moz-filter grayscale(100%)
      -ms-filter grayscale(100%)
      filter grayscale(100%)
      filter gray /* IE 6-9 */

    &_step-1
      sprite(step-1)
    &_step-2
      sprite(step-2)
    &_step-3
      sprite(step-3)
    &_step-4
      sprite(step-4)
    &_vk
      sprite(vk)
    &_vk-2
      sprite(vk-2)
    &_fb
      sprite(fb)
    &_fb-2
      sprite(fb-2)
    &_tw
      sprite(profile)
    &_ok
      sprite(profile)
    &_gp
      sprite(profile)
    &_inviteFriend
      sprite(inviteFriend)

  &__caption
    font-size 13px
    white-space normal

    .sp-figure_blocked &
      display none

    &_status
      color #ff9000
      font-size 15px

    p
      margin 0

  &__points
    absolute(top right)
    size(36px)
    font-size 13px
    line-height 36px
    color white
    text-align center
    border 1px solid white
    border-radius 50%
    background #ff9000
