/**
 * History list
 */

.sp-history-list
  margin 0
  padding 0
  list-style none outside none

  &__item
    height 50px
    line-height @height
    font-size 0
    white-space nowrap

    &:nth-child(even)
      background #f5f5f5

    &-date
      display inline-block
      width 185px
      font-size 14px
      color #727478
      text-align center

    &-pic
      @extends .sp-history-list__item-date
      width 32px

      img
        width 32px

    &-title
      @extends .sp-history-list__item-date
      width 300px
      padding 0 0 0 50px
      color black
      text-align left

    &-points
      @extends .sp-history-list__item-date
      width 196px
      text-align left
      color #49c759

      &.negative
        color #ff002f
