/**
 * Layout
 */
.sp-layout
  margin 30px 0
  font 400 13px/18px Arial, sans-serif
  text-shadow none
  color #000

  &__header
    margin 0 auto 10px
    text-align center
    text-transform uppercase
    font-weight 400
    font-size 17px

  &__desc
    margin 0 auto 40px
    text-align center
    font-size 14px

  &__rule
    size(380px, 35px)
    margin 0 auto 30px
    line-height 35px
    text-align center
    color #fff
    background #ff9000
    border-radius 5px
