fb-2-x = 0
fb-2-y = 0
fb-2-width = 78px
fb-2-height = 77px
fb-2 = fb-2-x fb-2-y fb-2-width fb-2-height
fb-x = 0
fb-y = -77px
fb-width = 77px
fb-height = 77px
fb = fb-x fb-y fb-width fb-height
inviteFriend-x = 0
inviteFriend-y = -154px
inviteFriend-width = 160px
inviteFriend-height = 160px
inviteFriend = inviteFriend-x inviteFriend-y inviteFriend-width inviteFriend-height
profile-x = 0
profile-y = -314px
profile-width = 160px
profile-height = 160px
profile = profile-x profile-y profile-width profile-height
step-1-x = 0
step-1-y = -474px
step-1-width = 77px
step-1-height = 75px
step-1 = step-1-x step-1-y step-1-width step-1-height
step-2-x = 0
step-2-y = -549px
step-2-width = 77px
step-2-height = 75px
step-2 = step-2-x step-2-y step-2-width step-2-height
step-3-x = 0
step-3-y = -624px
step-3-width = 77px
step-3-height = 75px
step-3 = step-3-x step-3-y step-3-width step-3-height
step-4-x = 0
step-4-y = -699px
step-4-width = 77px
step-4-height = 75px
step-4 = step-4-x step-4-y step-4-width step-4-height
vk-2-x = 0
vk-2-y = -774px
vk-2-width = 78px
vk-2-height = 77px
vk-2 = vk-2-x vk-2-y vk-2-width vk-2-height
vk-x = 0
vk-y = -851px
vk-width = 77px
vk-height = 77px
vk = vk-x vk-y vk-width vk-height

sprite-image()
    background-image url('../images/sprite.png')
sprite-position($sprite)
    background-position $sprite[0] $sprite[1]
sprite-width($sprite)
    width $sprite[2]
sprite-height($sprite)
    height $sprite[3]
sprite($sprite)
    sprite-image()
    sprite-position($sprite)
    sprite-width($sprite)
    sprite-height($sprite)
