/**
 * Steps
 */
.sp-steps
  margin 0 0 30px
  font-size 0
  text-align center

  &__item
    display inline-block
    width 150px
    margin 0 10px 0
    vertical-align top

  &__arrow
    margin 40px 0 0
