/**
 * Table
 */

// Reset global styles
#sailplay-widget table td
  border-width 0 1px
  border-color white
  padding 15px 0

.sp-table
  width 100%
  border 0
  border-collapse collapse
  border-spacing 0
  text-align left

  &_rounded
    border-radius 30px
    overflow hidden

  &__head
    &-cell
      padding 0 0 20px
      text-align center
      font-weight 400
      font-size 14px

      &_left
        width 35%
        text-align left

        span
          padding-left 75px

      &_middle
        width 40%

      &_right
        width 25%

  &__body
    &-row
      background #f5f5f5

      &:nth-child(even)
        background #ededed

    &-cell
      font-size 14px

      &-pic
        size(33px)
        padding: 0 27px 0 15px

      &_left
        width 35%

      &_middle
        width 40%

        span
          padding-left 80px

      &_right
        width 25%

        span
          padding-left 90px
