/**
 * User
 */
.sp-user
  overflow auto

  &__points
    $size = 77px
    $padding-top = 21px

    width $size
    height $size - 2 * $padding-top
    padding $padding-top 0
    margin 0 10px 40px 40px
    float left
    font-size 16px
    line-height 1.1
    border-radius 50%
    background #ff9000
    color #fff
    text-align center

  &__name
    margin 10px 0 6px
    font-size 16px
    font-weight 400
    text-transform uppercase

  &__status
    margin 0 0 2px
    color #ff9000

  &__actn
    display block
    text-align none
    cursor pointer

    &_active
      color #ff9000

  &:after
    display block
    content ''
    clear both
