/**
 * User status
 */

$width-pic = 165px

.sp-user-status
  &__pic
    width $width-pic
    float left

  &__img
    width 77px
    height @width
    margin 30px 40px 50px 50px

  &__info
    margin 0 0 0 $width-pic
    padding 40px 0 20px

  &__name
    font-size 13px
    margin 0 0 20px

  &__desc
    font-size 12px

  &__action
    margin 0 0 0 $width-pic
    padding 25px 0
    border-top 2px solid #eee
