/**
 * Widget
 */
.sp-widget
  margin 0 0 20px
  padding 10px
  background #f5f5f5
  border-radius 20px

  &_align_center
    text-align center

  &__title
    margin 0 0 10px
    font-size 13px
    line-height 16px
    text-align center
    text-transform uppercase

  &__slider
    width 390px
    min-height 140px
    margin 0 auto

  &__user
  &__status
    display inline-block
    vertical-align top

  &__user
    min-width 350px
    margin 26px 0 0 // title height

.sp-widget-header
  margin 0 0 20px
