<div class="sp-layout">
    <h3 class="sp-layout__header">Добро пожаловать в бонусную программу!</h3>
    <p class="sp-layout__desc">Следуйте инструкции, чтобы получить подарки</p>

    <div class="sp-layout__steps sp-steps">
        <div class="sp-steps__item">
            <div class="sp-figure">
                <div class="sp-figure__pic sp-figure__pic_step-1"></div>
                <div class="sp-figure__caption">Пройдите регистрацию</div>
            </div>
        </div>
        <div class="sp-steps__arrow sp-arrow">&#9654;</div>
        <div class="sp-steps__item">
            <div class="sp-figure">
                <div class="sp-figure__pic sp-figure__pic_step-2"></div>
                <div class="sp-figure__caption">Совершайте заказы</div>
            </div>
        </div>
        <div class="sp-steps__arrow sp-arrow">&#9654;</div>
        <div class="sp-steps__item">
            <div class="sp-figure">
                <div class="sp-figure__pic sp-figure__pic_step-3"></div>
                <div class="sp-figure__caption">Копите лакомки</div>
            </div>
        </div>
        <div class="sp-steps__arrow sp-arrow">&#9654;</div>
        <div class="sp-steps__item">
            <div class="sp-figure">
                <div class="sp-figure__pic sp-figure__pic_step-4"></div>
                <div class="sp-figure__caption"><p>Оплачивайте баллами</p></div>
            </div>
        </div>
    </div>

    <div class="sp-layout__rule">1 лакомка = 1 рубль</div>

    <div ng-controller="InfoController">
        <div class="sp-widget sp-widget-info">
            <div class="sp-widget__user">
                <div class="sp-user">
                    <div class="sp-user__points">
                        <div ng-bind="userPoints"></div>
                        <div>лакомок</div>
                    </div>
                    <h5 class="sp-user__name">{{ userName }}</h5>
                    <div class="sp-user__status">{{ currentStatus }}</div>
                    <div class="sp-user__actn" ng-class="{ 'sp-user__actn_active': showHistory }" ng-click="showStatus = false; showHistory = !showHistory;">Показать историю</div>
                </div>
            </div>
            <div class="sp-widget__status">
                <div class="sp-widget__title">Ваш статус</div>
                <div sp-status badges="badgesList" badge-select="showBadgeInfo(data)"></div>
            </div>
        </div>
        <div class="sp-widget-details sp-user-history" ng-show="showHistory">
            <ul class="sp-history-list">
                <li class="sp-history-list__item" ng-repeat="entry in userHistory">
                    <div class="sp-history-list__item-date">{{ entry.date }}</div>
                    <div class="sp-history-list__item-pic"><img src="{{ entry.pic }}" alt="{{ entry.name }}" ng-if="entry.pic"></div>
                    <div class="sp-history-list__item-title">{{ entry.name }}</div>
                    <div class="sp-history-list__item-points" ng-class="{ 'negative': entry.points_delta < 0 }">{{ entry.points_delta > 0 ? '+' + entry.points_delta : entry.points_delta }}</div>
                </li>
            </ul>
        </div>
        <div class="sp-widget-details sp-user-status" ng-show="showStatus">
            <div class="sp-user-status__pic">
                <img src="{{ userStatus.thumbs.url_100x100 }}" alt="{{ userStatus.name }}" class="sp-user-status__img">
            </div>
            <div class="sp-user-status__info">
                <div class="sp-user-status__name">{{ userStatus.name }}</div>
                <div class="sp-user-status__desc">{{ userStatus.descr }}</div>
            </div>
            <div class="sp-user-status__action" ng-show="userStatus.name === currentStatus">
                <span class="sp-user-status__action-title">Похвастайтесь бейджиком: </span>
                <span>во Вконтакте <button class="sp-btn" ng-click="share('vk')">Получить +20</button> </span>
                <span>во Фейсбуке <button class="sp-btn" ng-click="share('fb')">Получить +20</button></span>
            </div>
            <div class="sp-clear"></div>
        </div>
    </div>

    <div ng-controller="ActionsController">
        <h3 class="sp-layout__header sp-widget-header">Заработайте больше лакомок</h3>
        <div class="sp-widget sp-widget_align_center sp-widget-actions">
            <div class="sp-widget__slider" sp-slider slides-to-show="3" slides="actionsList" slide-select="showActionInfo(data)"></div>
        </div>
        <div class="sp-widget-details sp-action-info" ng-show="actionInfoVisible">
            <div class="sp-action-info__pic">
                <div class="sp-figure">
                    <div class="sp-figure__points" ng-if="actionInfo.action.points">{{ actionInfo.action.points }}</div>
                    <div class="sp-figure__pic sp-figure__pic_{{ actionInfo.pic }}"></div>
                </div>
            </div>
            <div class="sp-action-info__body">
                <div class="sp-action-info__title">{{ actionInfo.title }}</div>
                <div class="sp-action-info__desc">{{ actionInfo.desc }}</div>
            </div>
            <div class="sp-action-info__action">
                <button class="sp-btn sp-btn_large" ng-click="actionPerform(actionInfo.action)">Выполнить</button>
            </div>
            <div class="sp-clear"></div>
        </div>
    </div>

    <h3 class="sp-layout__header">Как получить больше лакомок?</h3>
    <p class="sp-layout__desc">
        За каждую вашу покупку вы будете получать бонусные лакомки (конверсия бонусных лакомок в таблице ниже). При совершении большего колисества покупок, вы можете увеличить количество получаемых бонусных лакомок.
    </p>
    <table class="sp-table">
        <thead class="sp-table__head">
        <tr class="sp-table__head-row">
            <th class="sp-table__head-cell sp-table__head-cell_left"><span>Статус клиента</span></th>
            <th class="sp-table__head-cell sp-table__head-cell_middle">Общая стоимость выполненных заказов</th>
            <th class="sp-table__head-cell sp-table__head-cell_right">% конверсии в лакомки</th>
        </tr>
        </thead>
    </table>
    <table class="sp-table sp-table_rounded">
        <tbody class="sp-table__body">
            <tr class="sp-table__body-row">
                <td class="sp-table__body-cell sp-table__body-cell_left">
                    <img class="sp-table__body-cell-pic" src="https://d3257v5wstjx8h.cloudfront.net/media/assets/assetfile/4603d9e5fb098456a9a97312e3391071.png" alt="Дегустатор"><span>Дегустатор</span>
                </td>
                <td class="sp-table__body-cell sp-table__body-cell_middle"><span>15 000 - 50 000 рублей</span></td>
                <td class="sp-table__body-cell sp-table__body-cell_right"><span>2%</span></td>
            </tr>
            <tr class="sp-table__body-row">
                <td class="sp-table__body-cell sp-table__body-cell_left">
                    <img class="sp-table__body-cell-pic" src="https://d3257v5wstjx8h.cloudfront.net/media/assets/assetfile/62d5779bc37d8fb9275142f9c176830f.png" alt="Знаток качества"><span>Знаток качества</span>
                </td>
                <td class="sp-table__body-cell sp-table__body-cell_middle"><span>50 000 - 70 000 рублей</span></td>
                <td class="sp-table__body-cell sp-table__body-cell_right"><span>4%</span></td>
            </tr>
            <tr class="sp-table__body-row">
                <td class="sp-table__body-cell sp-table__body-cell_left">
                    <img class="sp-table__body-cell-pic" src="https://d3257v5wstjx8h.cloudfront.net/media/assets/assetfile/993f29ae0e5c38f5afc2336ab2c63958.png" alt="Гурман"><span>Гурман</span>
                </td>
                <td class="sp-table__body-cell sp-table__body-cell_middle"><span>70 000 - 110 000 рублей</span></td>
                <td class="sp-table__body-cell sp-table__body-cell_right"><span>6%</span></td>
            </tr>
            <tr class="sp-table__body-row">
                <td class="sp-table__body-cell sp-table__body-cell_left">
                    <img class="sp-table__body-cell-pic" src="https://d3257v5wstjx8h.cloudfront.net/media/assets/assetfile/e4a7293cdd14a5e3650a3470f1ebead9.png" alt="Эксперт"><span>Эксперт</span>
                </td>
                <td class="sp-table__body-cell sp-table__body-cell_middle"><span>110 000 - 170 000 рублей</span></td>
                <td class="sp-table__body-cell sp-table__body-cell_right"><span>8%</span></td>
            </tr>
            <tr class="sp-table__body-row">
                <td class="sp-table__body-cell sp-table__body-cell_left">
                    <img class="sp-table__body-cell-pic" src="https://d3257v5wstjx8h.cloudfront.net/media/assets/assetfile/def66a7c3ac69723f819f88132fca4d5.png" alt="Ценитель"><span>Ценитель</span>
                </td>
                <td class="sp-table__body-cell sp-table__body-cell_middle"><span>170 000 - 300 000 рублей</span></td>
                <td class="sp-table__body-cell sp-table__body-cell_right"><span>10%</span></td>
            </tr>
            <tr class="sp-table__body-row">
                <td class="sp-table__body-cell sp-table__body-cell_left">
                    <img class="sp-table__body-cell-pic" src="https://d3257v5wstjx8h.cloudfront.net/media/assets/assetfile/36409542aafce6b4a881009f23d72807.png" alt="Эко-гуру"><span>Эко-гуру</span>
                </td>
                <td class="sp-table__body-cell sp-table__body-cell_middle"><span>от 300 000 рублей</span></td>
                <td class="sp-table__body-cell sp-table__body-cell_right"><span>12%</span></td>
            </tr>
        </tbody>
    </table>
</div>
