<div class="sp-slider">
    <button class="sp-slider__left" ng-click="slideRight()"></button>
    <div class="sp-slider__viewport">
        <div class="sp-slider__track">
            <div class="sp-slider__item" ng-repeat="slide in slides" ng-click="showInfo({ data: slide })">
                <div class="sp-figure">
                    <div class="sp-figure__points" ng-if="slide.action.points">{{ slide.action.points }}</div>
                    <div class="sp-figure__pic sp-figure__pic_{{ slide.pic }}"></div>
                    <div class="sp-figure__caption">{{ slide.title }}</div>
                </div>
            </div>
        </div>
    </div>
    <button class="sp-slider__right" ng-click="slideLeft()"></button>
</div>
