<div class="sp-status">
    <div class="sp-status__item" ng-class="{ 'sp-status__item_pointer': firstBadge.is_received }">
        <div class="sp-figure sp-figure_inline" ng-class="{ 'sp-figure_blocked': !firstBadge.is_received }" ng-click="showInfo({ data: firstBadge })">
            <img class="sp-figure__pic" src="{{ firstBadge.thumbs.url_100x100 }}" alt="{{ firstBadge.name }}">
            <div class="sp-figure__caption sp-figure__caption_status">{{ firstBadge.name }}</div>
        </div>
    </div>
    <div class="sp-status__arrow sp-arrow">&#9654;</div>
    <div class="sp-status__item" ng-class="{ 'sp-status__item_pointer': !secondBadge.is_received }">
        <div class="sp-figure sp-figure_inline" ng-class="{ 'sp-figure_blocked': !secondBadge.is_received }" ng-click="showInfo({ data: secondBadge })">
            <img class="sp-figure__pic" src="{{ secondBadge.thumbs.url_100x100 }}" alt="{{ secondBadge.name }}">
            <div class="sp-figure__caption sp-figure__caption_status">{{ secondBadge.name }}</div>
        </div>
    </div>
    <div class="sp-status__arrow sp-arrow">&#9654;</div>
    <div class="sp-status__item" ng-class="{ 'sp-status__item_pointer': thirdBadge.is_received }">
        <div class="sp-figure sp-figure_inline" ng-class="{ 'sp-figure_blocked': !thirdBadge.is_received }" ng-click="showInfo({ data: thirdBadge })">
            <img class="sp-figure__pic" src="{{ thirdBadge.thumbs.url_100x100 }}" alt="{{ thirdBadge.name }}">
            <div class="sp-figure__caption sp-figure__caption_status">{{ thirdBadge.name }}</div>
        </div>
    </div>
</div>
